.NavbarItems {
    background: linear-gradient(90deg, rgb(13,43,34) 0%, rgba(13,96,102,1 )100%);

}

ul{
    list-style-type: none;
    height: 80px;
}

li{
    float: left;
    padding: 14px 16px;
    display: block;
    color: ghostwhite;
    text-align: center;
}

li a {
    text-decoration: none;
}

li a:hover{
    background-color: #458089;
    color: ghostwhite;
    text-decoration: none;
}

.navbar-logo{
    color: gray;
    justify-self: start;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem ;
    font-size: 1.6rem;
}

