/**
 * Created by: Harry Clifford
 * The CSS for the graph section with the main goal of having a centered approach
 */

div .Panel {
  background-color: #222222;
}
.Panel {
  padding-top: 10px;
}

.MarkGraph {
  margin-left: calc(4% - 10px);
}

.AssignmentList {
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1%;
  padding-left: 2%;
  padding-top: 15px;
  background-color: #616161;
  border-radius: 16px;
  list-style-type: none;
}
